@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap');

body{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

label{
	color: #FFF;
	text-align: center;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 145.833% */
}

a:-webkit-any-link {
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
	color: grey;
}

.main{
	display: block;
}

.header{
	height: 60px;
	background: #303030;
	display: flex;
	align-items: center;
}

.logos {
	position: absolute;
	left: 9px;
	display: flex;
	gap: 20px;
}

.pages{
	position: absolute;
	right: 182px;
}

.logo1{
}

.logo2{
}

.logo3 {
}

.pages_inside{
	display: flex;
}

.page{
	margin: 5px;
	color: #FFF;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-right: 20px;
}

.button{
	width: 140px;
	height: 36px;
	background: #888;
	border-radius: 10px;
	position: absolute;
	right: 18px;
	top: 12px;
	transition: 0.5s;
}

.button:hover{
	width: 160px;
	transition: 0.5s;
}

.text_button{
	color: #FFF;	
	text-align: center;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	margin: 7px;
}

.part1{
	height: 1008px;
	background-image: url("img/background1.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.part1_title{
	display: flex;
	justify-content: center;
}

.part1_text{
	width: 537px;
	margin-top: 164px;
	margin-right: 140px;
}

.part1_text1{
	color: #FFF;
	text-align: justify;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 72.917% */
	margin: 0px 0px 3px 0px;
}

.part1_text2{
	color: #FFF;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px;
	text-align: justify;
	margin: 0px;
}

.videoplayer{
	width: 612px;
	height: 343.685px;
	border-radius: 10px;
	background: url("img/Viking-Rise-hero-guide-all-about-heroes 1.png");
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.links{
	margin-top: 114px;
}

.links_text{
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 35px; /* 97.222% */
}

.link{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.links_img1{
	margin-right: 24.57px;
}

.links_img2{
	margin-right: 24.57px;
}

.part2{
	height: 620px;
	background: #161616;
	display: block;
}

.part2_logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 132px;
}

.part2_text{
	width: 870px;
	margin-left: auto;
    margin-right: auto;
    padding-top: 42px;
}

.part2_text1{
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 35px; /* 97.222% */
}

.part2_text2{
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 145.833% */
	margin-top: 16px;
}

.part3{
	height: 1200px;
	background-image: url("img/background2.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.part3_title{
	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 35px; /* 97.222% */
	margin: 0px;
	padding-top: 104px;
}

.quote{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

.quote_text1{
	color: #000;
	text-align: justify;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 175% */
	width: 820px;
	padding-right: 100px;
}

.quote_text2{
	color: #000;
	text-align: justify;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 175% */
	width: 821px;
	padding-left: 100px;
}

.quote_text3{
	color: #000;
	text-align: justify;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 175% */
	width: 802px;
	padding-right: 100px;
}

.futter{
	height: 225px;
	background: #303030;
}

.futter_logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 38px;
}

.futter_logo1{
	width: 133px;
	height: 60px;
}

.futter_text1{
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 218.75% */
}

.futter_text2{
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 250% */
	opacity: 0.5;
}


.news{
	display: block;
}

.news_style{
	height: 1800px;
	background-image: url("img/sword.png");
	background-position: center;
	background-repeat: no-repeat;
}

.news_style1{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 80px;
}

.news_style2{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 87px;
}

.news_style3{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 87px;
}

.news_style4{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 87px;
}


.news_style1_text{
}

.news_style1_text1{
	color: #000;
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 687px;
	margin: 0px 0px 5px 0px;
}

.news_style1_text2{
	color: #000;
	text-align: justify;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 687px;
	margin: 0px 0px 0px 0px;
}

.news_style1_text3{
	color: #000;
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 687px;
	margin: 50px 0px 0px 0px;
}

.news_style1_text1_2{
	color: #000;
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 687px;
	margin: 0px 0px 5px 0px;
}

.news_style1_text2_2{
	color: #000;
	text-align: justify;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 687px;
	margin: 0px 0px 155px 0px;
}

.news_style1_text3_2{
	color: #000;
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 687px;
	margin: 35px 0px 0px 0px;
}

.news_style1_photo{
	margin-right: 43px;
}

.news_1_style{
	height: 1500px;
	background-image: url("img/news1_background.png");
	background-size: 100% 894px;
	background-position: top;
	background-repeat: no-repeat;
}

.news_2_style{
	height: 1500px;
	background-image: url("img/news2_background.png");
	background-size: 100% 894px;
	background-position: top;
	background-repeat: no-repeat;
}

.button_return{
	display: flex;
	padding: 60px 0px 0px 91px;
}

.button_return_text{
	color: #000;
	text-align: justify;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.news_container{
	margin-left: 100px;
	margin-right: 100px;
}

.news_text_title{
	color: #000;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: auto;
    margin-right: auto;
}

.news_text{
	color: #000;
	text-align: justify;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 100px;
	margin-left: auto;
    margin-right: auto;
}

.news_text_ul{
	color: #000;
	text-align: justify;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 100px;
	margin-left: auto;
    margin-right: auto;
}

.media_container{
	height: 2308px;
	background-image: url("img/background_media.png");
	background-size: 100% 100%;
	background-position: center;
	display: block;
}

.media_1{
	display: block;
	justify-content: center;
	padding-top: 7%;
}

.media_2{
	display: block;
	justify-content: center;
	padding-top: 5%;
}

.media_3{
	display: block;
	justify-content: center;
	padding-top: 5%;
}

.media_title_style{
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 35px; /* 97.222% */
}

.media_1_content{
	display: flex;
	justify-content: center;
	gap: 5%;
}

.media_2_content{
	display: flex;
	justify-content: center;
	gap: 3%;
}

.media_3_content{
	display: flex;
	justify-content: center;
	gap: 4%;
}

.form_login{
	width: 498px;
	height: 580px;
	border-radius: 10px;
	background: #303030;
	margin-top: 71px;
}

.form_reg{
	width: 498px;
	height: 400px;
	border-radius: 10px;
	background: #303030;
	margin-top: 71px;
}

.form_background{
	height: 1288px;
	display: flex;
	justify-content: center;
}

.form_title{
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 35px; /* 109.375% */
}

.input{
	width: 393.873px;
	height: 40.3px;
	background: #D9D9D9;
}

.form_div{
	margin: 12px 51px 12px 51px;
}

.form_button{
	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 145.833% */
	border-radius: 10px;
	background: #D9D9D9;
	width: 253px;
	height: 49px;
}

.form_button_div{
	margin: 51px 123px 0px 122px;
}

.download_style{
	height: 1008px;
	background-image: url("img/background1.png");
	background-size: 100% 1008px;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
}

.download_style_text{
	padding-top: 80px;
}

.download_style_text1{
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 35px; /* 97.222% */
}

.download_style_text2{
	color: #FFF;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 35px; /* 145.833% */
	margin-top: 16px;
}

.container {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.circle {
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    animation: scaleUp 1s forwards;
}

@keyframes scaleUp {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(20);
    }
}